.vscode/
.github/
.cache/
.codex
compile_commands.json
*.engine
build/
build-*/
Camera/
logs/
outputs/
assets/img_with_q/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
